
/*
#cloudWord0	 {
	-webkit-animation: bounceinplaceanimation 6000ms linear both;
	animation: bounceinplaceanimation 6000ms linear both;
}

.bounceinplace	 {
	display: -moz-inline-stack;
	display: inline-block;
	*display: inline;
}
*/




